.navbar {
  padding: 0rem;
  margin-bottom: 1rem;
}
/*nav{
  background-color: #16469D;
}*/
.tth {
  background-color: #16469d;
  padding: 0.5rem;
}
.JSWlogo {
  width: 10em;
}
#navbarResponsive {
  color: black;
  border-color: black;
  font-weight: 700;
}

body {
  background-color: #ffffff;
}

.introduction1 {
  font-weight: 400;
  margin-bottom: 3rem;
}
.line-200,
.light-100 {
  border-color: #16469d;
  border-width: 2px;
}
.card-title {
  color: white;
  text-align: center;
  padding-bottom: 0.5em;
}
.introduction {
  color: #16469d;
  font-weight: 400;
  margin-bottom: 1em;
}
.card {
  margin-top: 2em;
  margin-bottom: 2em;
  border-color: black;
  background-color: #16469d;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.card-text {
  color: white;
}
.survey {
  width: 100%;
  color: #16469d;
  font-weight: 500;
  border-color: #16469d;
}
.info {
  background-color: #e7f3fe;
  border-left: 6px solid #16469d;
  border-right: 6px solid #16469d;
}
footer h2,
h5 {
  color: #16469d;
  font-weight: 500;
}
p {
  color: #16469d;
  font-weight: 600;
}

.gap {
  margin-top: 6em;
}

.subs {
  align-self: center;
  text-align: center;
  align-self: auto;
  margin: 1em;
}

.sub {
  font-size: 2rem;
  text-align: center;
  width: 60%;
  margin-bottom: 1em;
}

.ip {
  color: white;
  font-size: 1.2em;
  text-align: center;
}
.op {
  max-width: 180px;
  width: 100%;
  padding-bottom: 0.3em;
}
.ep {
  max-width: 180px;
  width: 100%;
  text-align: left;
}

#submit {
  max-width: 600px;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 2em;
}

/*---Media Queries --*/
@media (max-width: 992px) {
  .tth {
    background-color: #16469d;
    padding-left: 2rem;
  }

  .sub {
    font-size: 2rem;
    text-align: center;
    width: 70%;
    margin-bottom: 1em;
  }
}
@media (max-width: 768px) {
  .tth {
    background-color: #16469d;
    padding-left: 2rem;
  }
  .display-4 {
    font-size: 200%;
  }
  .sub {
    font-size: 2rem;
    text-align: center;
    width: 90%;
    margin-bottom: 1em;
  }
}
@media (max-width: 576px) {
  .tth {
    background-color: #16469d;
    padding-left: 2rem;
  }
  .display-4 {
    font-size: 160%;
  }
  .sub {
    font-size: 1rem;
    text-align: center;
    width: 90%;
    margin-bottom: 1em;
  }
  p {
    color: #16469d;
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .introduction1 {
    color: #16469d;
    font-weight: 400;
    margin-bottom: 3rem;
  }
}
